
  @import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Sofia+Sans+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


  body {
    font-family: 'Sofia Sans Condensed', sans-serif;
    background-color: #282828;
    color: #f6f6f6;
    font-size: 1.2rem;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Jolly Lodger', cursive;
  }

  #placeholder-container {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #inner-placeholder {
    border: 3px solid aqua;
    border-radius: 15px;
    padding: 3rem;
  }

  #inner-placeholder > h1 {
    font-size: 7rem;
  }

  #inner-placeholder > h2 {
    font-size: 5rem;
  }